<!DOCTYPE html>
<html lang="fr">
  <head>
    <%- include('../partials/head'); %>
    <title>STAGE-APP | Accueil</title>
  </head>

  <body class="h-screen">
    <%- include('../partials/navbar'); %>

    <div class="my-12 mx-12 flex justify-center items-center flex-col">
      <button id="deco" class="text-white font-semibold bg-red-800 bg-opacity-30 p-6 rounded border border-white border-opacity-50">DECONNEXION</button>
      <div class="m-10 py-10 px-10 text-center rounded shadow-2xl backdrop-blur-lg backdrop-saturate-125 bg-black bg-opacity-20 border border-white border-opacity-50">
        <p class="text-4xl text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae laborum dolor enim ex nobis velit est, libero deserunt placeat id totam eos alias beatae fuga quae, nisi doloribus reiciendis soluta!</p>
      </div>
      <div class="m-10 py-10 px-10 text-center rounded shadow-2xl backdrop-blur-lg backdrop-saturate-125 bg-black bg-opacity-20 border border-white border-opacity-50">
        <p class="text-4xl text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae laborum dolor enim ex nobis velit est, libero deserunt placeat id totam eos alias beatae fuga quae, nisi doloribus reiciendis soluta!</p>
      </div>
      <div class="m-10 py-10 px-10 text-center rounded shadow-2xl backdrop-blur-lg backdrop-saturate-125 bg-black bg-opacity-20 border border-white border-opacity-50">
        <p class="text-4xl text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae laborum dolor enim ex nobis velit est, libero deserunt placeat id totam eos alias beatae fuga quae, nisi doloribus reiciendis soluta!</p>
      </div>
      <div class="m-10 py-10 px-10 text-center rounded shadow-2xl backdrop-blur-lg backdrop-saturate-125 bg-black bg-opacity-20 border border-white border-opacity-50">
        <p class="text-4xl text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae laborum dolor enim ex nobis velit est, libero deserunt placeat id totam eos alias beatae fuga quae, nisi doloribus reiciendis soluta!</p>
      </div>
      <div class="m-10 py-10 px-10 text-center rounded shadow-2xl backdrop-blur-lg backdrop-saturate-125 bg-black bg-opacity-20 border border-white border-opacity-50">
        <p class="text-4xl text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae laborum dolor enim ex nobis velit est, libero deserunt placeat id totam eos alias beatae fuga quae, nisi doloribus reiciendis soluta!</p>
      </div>
    </div>

    <!-- <footer>
        <%- include('../partials/footer'); %>
    </footer> -->

    <script src="/static/js/accueil.js"></script>
    <%if (estConnecte) { %>
    <script src="/static/js/deconnexion.js"></script>
    <% } %>
  </body>
</html>
