<!DOCTYPE html>
<html lang="fr">
  <head>
    <%- include('../partials/head'); %>
  </head>

  <body>
    <!-- <header> -->
    <%- include('../partials/navbar'); %>
    <!-- </header> -->

    <div class="mt-32 text-white flex justify-center items-center">
      <div class="py-10 px-10 text-center rounded shadow-2xl backdrop-blur-lg backdrop-saturate-125 bg-black bg-opacity-20 border border-white border-opacity-50">
        <p class="text-8xl">Compte non vérifié</p>
        <p class="p-10 text-4xl">
          Vous devez vérifier votre compte afin <br />
          de pouvoir accéder à ce contenu. (<a href="/compte/aide">AIDE</a>)
        </p>
      </div>
    </div>

    <!-- <footer> -->
    <%- include('../partials/footer'); %>
    <!--</footer> -->
  </body>
</html>
