<!DOCTYPE html>
<html lang="fr">
  <head>
    <%- include('../partials/head'); %>
  </head>

  <body>
    <!-- <header> -->
    <%- include('../partials/navbar'); %>
    <!-- </header> -->

    <div class="my-12 mx-52 flex justify-center items-center">
      <form id="form" class="flex flex-col py-8 px-8 text-left text-white rounded shadow-2xl backdrop-blur-lg backdrop-saturate-125 bg-black bg-opacity-20 border border-white border-opacity-50">
        <h3 class="flex flex-col mx-28 text-white text-3xl font-medium text-center">
          Inscription
          <span class="pt-2 text-gray-200 text-base font-light">Votre compte sera vérifié manuellement.</span>
        </h3>

        <label for="prenom" class="mt-6 text-base">Prénom</label>
        <input type="text" id="prenom" class="mt-2 p-3 bg-black bg-opacity-10 rounded focus-within:bg-opacity-40 focus-within:outline-none" placeholder="Alan" required />

        <label for="nom" class="mt-6 text-base">Nom</label>
        <input type="text" id="nom" class="mt-2 p-3 bg-black bg-opacity-10 rounded focus-within:bg-opacity-40 focus-within:outline-none" placeholder="Perron" required />

        <label for="email" class="mt-6 text-base">E-mail</label>
        <input type="email" id="email" class="mt-2 p-3 bg-black bg-opacity-10 rounded focus-within:bg-opacity-40 focus-within:outline-none" placeholder="mail@domain.net" required />

        <label for="motDePasse" class="mt-6 text-base">Mot de passe</label>
        <input type="password" id="motDePasse" class="mt-2 p-3 bg-black bg-opacity-10 rounded focus-within:bg-opacity-40 focus-within:outline-none" placeholder="Minimum 8 caractères" required min="8" />

        <label for="motDePasseConfirmation" class="mt-6 text-base">Confirmation mot de passe</label>
        <input type="password" id="motDePasseConfirmation" class="mt-2 p-3 bg-black bg-opacity-10 rounded focus-within:bg-opacity-40 focus-within:outline-none" placeholder="Minimum 8 caractères" required min="8" />

        <label for="statut" class="mt-6 text-base">Statut</label>
        <div class="mt-6 flex flex-row text-center justify-evenly text-lg">
          <label class="inline-flex items-center">
            <input id="cyberlog" type="radio" class="h-6 w-6" name="statut" value="cyberlog" required />
            <span class="ml-2">CYBERLOG</span>
          </label>

          <label class="inline-flex items-center">
            <input id="cyberdata" type="radio" class="h-6 w-6" name="statut" value="cyberdata" required />
            <span class="ml-2">CYBERDATA</span>
          </label>

          <label class="inline-flex items-center">
            <input id="entreprise" type="radio" class="h-6 w-6" name="statut" value="entreprise" required />
            <span class="ml-2">ENTREPRISE</span>
          </label>
        </div>

        <span id="messageErreur" class="pt-4 w-104 self-center text-red-300 font-bold text-base text-center"></span>

        <button class="p-3 mx-10 my-8 text-base font-semibold bg-white text-gray-800 rounded shadow-2xl bg-opacity-75 hover:bg-opacity-100">S'incrire</button>
      </form>
    </div>

    <!-- <footer> -->
    <%- include('../partials/footer'); %>
    <!--</footer> -->

    <script src="/static/js/inscription.js"></script>
  </body>
</html>
