<!-- <p class="text-center -mt-14 text-white pb-6">&copy; Copyright 2021 - Los Crackitos</p>
-->
<script src="/static/js/responsive.js"></script>
<%if (estConnecte) { %>
<script src="/static/js/deconnexion.js"></script>
<% } %>
