<!-- Background -->
<div class="fixed h-screen w-screen bg-cover" style="background-image: url('/static/img/bg.jpg'); z-index: -99"></div>

<nav class="relative w-full top-0 z-10 backdrop-blur-md border-b border-gray-200 border-opacity-50 bg-black bg-opacity-20 backdrop-saturate-125">
  <div class="w-full flex justify-around">
    <div class="flex space-x-2">
      <!-- Logo -->
      <div>
        <a href="/" class="p-1 h-14 w-24 justify-center flex flex-row items-center -ml-24 mr-4">
          <img src="/static/img/ensibs-logo.png" class="max-h-10 max-w-24" />
        </a>
      </div>

      <!-- Pages -->
      <div id="navBar" class="hidden mr-8 md:flex items-center space-x-1">
        <%if (estConnecte) { %>
          <a href="/" class="py-4 px-2 text-lg <% if (page == "Accueil") { %> text-green-ensibs-light <% } else { %> text-gray-300 <% } %> font-light hover:text-white">ACCUEIL</a>
          <% if (statut == "CyberLog" || statut == "Administrateur") { %> 
            <a href="/offres" class="py-4 px-3 text-lg <% if (page == "Offres") { %> text-green-ensibs-light <% } else { %> text-gray-300 <% } %> font-light hover:text-white">OFFRES DE STAGE</a>
             <% } %> 

          <% if (statut == "CyberData" || statut == "Administrateur") { %>
             <a href="/offres" class="py-4 px-3 text-lg <% if (page == "Offres") { %> text-green-ensibs-light <% } else { %> text-gray-300 <% } %> font-light hover:text-white">OFFRES D'ALTERNANCE</a>
              <% } %> 

          <% if (statut == "Entreprise" || statut == "Administrateur") { %>
             <a href="/cvtheque" class="py-4 px-3 text-lg <% if (page == "CVthèque") { %> text-green-ensibs-light <% } else { %> text-gray-300 <% } %> font-light hover:text-white">CVTHÈQUE</a>
              <% } %> 

          <% if (statut == "Entreprise" || statut == "CyberLog" || statut == "Administrateur") { %>
           <a href="/soutenances" class="py-4 px-3 text-lg <% if (page == "Soutenances") { %> text-green-ensibs-light <% } else { %> text-gray-300 <% } %> font-light hover:text-white">SOUTENANCES DE STAGE</a>
            <% } %>  

          <% if (statut == "Entreprise" || statut == "CyberData" || statut == "Administrateur") { %> 
          <a href="/entretiens" class="py-4 px-3 text-lg <% if (page == "Entretiens") { %> text-green-ensibs-light <% } else { %> text-gray-300 <% } %> font-light hover:text-white">ENTRETIENS DE MOTIVATION</a>
           <% } %> 

          <a href="/contact" class="py-4 px-3 text-lg <% if (page == "Contact") { %> text-green-ensibs-light <% } else { %> text-gray-300 <% } %> font-light hover:text-white">CONTACT</a>
        <% } else { %>
          <a href="/" class="py-4 px-2 text-lg <% if (page == "Accueil") { %> text-green-ensibs-light <% } else { %> text-gray-300 <% } %> font-light hover:text-white">ACCUEIL</a>
          <a href="/contact" class="py-4 px-3 text-lg <% if (page == "Contact") { %> text-green-ensibs-light <% } else { %> text-gray-300 <% } %> font-light hover:text-white">CONTACT</a>
          <a href="/compte/aide" class="py-4 px-3 text-lg <% if (page == "Aide") { %> text-green-ensibs-light <% } else { %> text-gray-300 <% } %> font-light hover:text-white">AIDE</a>
        <% } %>
      </div>
    </div>

    <!-- Boutton connexion/déconnexion -->
    <div class="hidden md:flex items-center space-x-1">
    <%if (estConnecte) { %>
        <span class="text-white pr-4">Bonjour, <%=prenom%> </span>
        <a href="/compte" class="py-2 px-3 bg-gray-900 bg-opacity-30 hover:bg-opacity-40 text-white border-white rounded-full transition duration-150">Mon compte</a>
        <div class="hidden md:flex items-center space-x-1">
          <button onClick="deconnexion()" class="py-2 px-3 ml-2 bg-red-800 bg-opacity-50 hover:bg-opacity-70 text-white rounded-full transition duration-150">Se déconnecter</button>
        </div>
      <% } else { %>
          <a href="/compte/connexion" class="py-2 px-3 bg-gray-900 bg-opacity-40 hover:bg-opacity-50 text-white rounded-full transition duration-150">Connexion</a>
      <% } %>
      </div>

      <!-- Boutton hamburger mobile -->
      <div class="md:hidden flex items-center">
        <button class="mobile-menu-button">
          <svg class="w-6 h-6 mx-3" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="white">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
          </svg>
        </button>
      </div>
    </div>
  </div>

  <!-- Menu mobile -->
  <div class="mobile-menu hidden md:hidden">
    <a href="/" class="block py-2 px-4 text-sm text-green-ensibs-light">ACCUEIL</a>
    <!-- <a href="/cvtheque" class="block py-2 px-4 text-sm text-gray-300">CVTHÈQUE</a>
        <a href="/offres" class="block py-2 px-4 text-sm text-gray-300">OFFRES</a>
        <a href="/offres" class="block py-2 px-4 text-sm text-gray-300">SOUTENANCES</a> -->
    <a href="/contact" class="block py-2 px-4 text-sm text-gray-300">CONTACT</a>
  </div>
</nav>
